.buttons{
  background-color:#C2B9B0;
  height:100vh;
  padding-top: 25vh;
  position: fixed;
  width: 20vw;
}

body{
  margin: 0vw;
}

.button{
  background-color:#E7717D;
  color:white;
  width:13vw;
  font-size: 1.5vw;
  position: relative;
  margin: 10vh 0vw 0vh 3.5vw;
  padding: 2vh 0vw 2vh 0vw;
  text-align:center;
  transition-duration: 0.5;
  border-radius: 1vh;
  border-width: 0.3vh;
}

.button:hover{
  background-color:#C2CAD0;
  color:black;
}

.grid-container {
  display: grid;
  position: fixed;
  grid-template-columns: auto auto auto auto;
  background-color:#2F2F2B;
  padding: 0.3vw;
  left: 24vw;
  right: 3vw;
  top:5vh;
  bottom: 50vh;
  overflow-y: scroll;
}

.grid-item {
  background-color: #CEC7C0;
  border: 0.1vw solid #272b2e;
  box-sizing: border-box;
  padding: 1vw;
  font-size: 2vw;
  text-align: center;
}

.grid-header {
  color: black;
  background-color: #CEC7C0;
}

.new-employee{
  position: relative;
  margin:55vh 3vw 3vh 45vw;
  color: white;
  background-color: #E7717D;
  border-radius: 1vh;
  font-size: 1.5vh;
  padding: 1.5vh;
  border-width: 0.3vh;
}

.add-form > p {
  color: #E7717D;
  font-size: small;
  text-align: left;
  position: absolute;
  margin: 1vh 0vw 2vh 2vw;
}

.add-form {
  display: block;
  position: absolute;
  text-align: right;
  margin-top: 2vh;
  margin-left: 25vw;
}

form {
  background-color: #c2b9b0cc;
  padding: 4vh 1vw 1vh 1vw;
  border-radius: 1vh;
  box-shadow: 0 0 1vh #55555573;
  box-sizing: border-box;
  width: 50vw;
}

form label {
  text-align: left;
}

form input{
  border: 1px solid #4EA49E;
  border-radius: 4px;
  height: 3vh;
  margin: 2vh;
}

.input-field {
  width: 30vw;
  margin-right: 5vw;
}

.add-button{
  border-radius: 1vh;
  border-width: 0.3vh;
  margin-left: 20vw;
  margin-bottom: 1vh;
}

.add-button:hover{
  background-color: lightslategray;
}
